# Variables options
AFFILIATE_ID=TEST_AFFIL
# Optionnel pour poster sur Mastodon si vous activez publish_posting
MASTODON_BASE_URL=https://mastodon.social
MASTODON_TOKEN=
# Nombre d'articles générés par exécution
N_PER_RUN=6
